# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su

# Visual Studio files
*.vcxproj*
*.vcproj*
*.sln
*.suo
*.ncb
*.user
*.filters

# Build directories
/build/
/bin/
/lib/
/dist/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Other files
*~
\#*\#
